*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body,html{
    font-family: Nunito, sans-serif;
    font-style: normal;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.toppper{
  position: fixed !important;
  top: 0;
  left: 0;
}

.nav-top{
  display:flex;
  width: 100%;
  padding: 10px 7%;
  background-color: #0367a6;
}

.eas{
  width: 50%;
  float: left;
  display: flex;
  padding-top: 1%;
}

.location{
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.email, .phone{
  text-decoration: none;
  color: #fff;
  margin-left: 5%;
  font-size: 16px;
  line-height: 24px;
}
.email:hover, .phone:hover{
  color: #777;
}
.wes{
  width: 50%;
  justify-content: right;
  display: flex;
  gap: 20px;
}

.twitter, .insta{
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 40px;

}

.twitter i, .insta i{
  color: #fff;
  font-size: 16px;
}

  
  .nav {
    width: 100%;
    position: relative;
    padding: 10px 40px;
    display: flex;
    background: rgb(255,255,255, .5);
  }
  
  .nav > .nav-header {
    display: inline;
    width: 30%;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000;
    padding: 0 0;
    margin-left: -4%;
  }

  .nav-header2{
    display: none;
  }

  .nav-title img{
    width: 50%;
    height: 50%;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    width: 70%;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 26px 30px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
  .btn-brochure{
    background: #0367a6;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    padding: 16px 30px !important;
    text-align: center;
    color: #FFFFFF !important;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav-hide{
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-header > .nav-title {
      display: inline-block;
      font-size: 22px;
      color: #000;
      padding: 0 0;
    }

    .nav-title img{
      width: 100%;
      object-fit: cover;
      margin-left: -12%;
    }

    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
   
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #000;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background: rgb(255,255,255, .5);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      font-weight: 600;
      color: #000;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  @media only screen and (max-width: 500px) {
    .nav-top{
      display: none;
    }
    .nav-title img{
      display: none;
    }

    .nav-header2{
      display: block;
      margin-left: -30%;
    }

    .nav-head{
      color: green;
      font-size: 22px;
      font-weight: 900;
      font-style: italic;
    }
    .toppper{
      width: 100%;
    }
    .nav{
      width: 100%;
    }
    .nav-btn{
      margin-left: 30%;
    }
  }

  /* dsls;k;ldsk */

.mySlides {display: none;}
.fade>img {
  vertical-align: middle;
  height: 90vh;
}

/* Slideshow container */
.slideshow-container {
  margin-top: 5% !important;
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: -1;
}

/* Caption text */
.background {
  width: 10px;
  font-size: 15px;
  position: absolute;
  left: 30%;
  bottom: 30%;
}

.slideimg{
    width:100%;
    height: 100vh;
  }

.para{
  width: 40%;
  padding-bottom: 5%;
  padding-top: 2%;
  padding-left: 10%;
  position: relative;
  border-radius: 15px ;
  background: rgba(228, 224, 224, 0.5);
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 1px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 6.5s;
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  .text {font-size: 11px}
}

/* ds,lsdkldksalk */

/* text effect */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
}

.heading {
  color: #000;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* text animation  */
.cont-h1{
  margin-left: 20%;
  width: 50%;
  height: 30vh;
  padding: 50px 20px;
  margin-top: -35%;
}

.text-h2{
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #000;
}
.h1 {
  padding: 10px 0;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
  text-align: center;
}

.text-anime {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.btns{
  margin-left: 35%;
}

.btn-quote{
    background: #0367a6;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    padding: 16px 50px !important;
    text-align: center;
    color: #FFFFFF !important;
}
.btn-quote:hover{
  background: #0367a6;
  border-radius: 10px;
  color: #000 !important;
}

.btn-contact{
    background: transparent;
    border: 1px solid #0367a6;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    padding: 16px 50px !important;
    text-align: center;
    color: #0367a6 !important;
}

.btn-contact:hover{
  background: #fff;
  border: 1px solid #fff;
  color: #000 !important;
}

@media only screen and (max-width: 500px) {
  .slideshow-container {
    margin-top: 0 !important;
  }
  .fade>img {
    vertical-align: middle;
    height: 40vh;
    object-fit: cover;
  }
  .cont-h1{
    margin-left: 0;
    width: 100%;
    height: 30vh;
    padding: 50px 5px;
    margin-top: -80%;
  }
  
  .text-h2{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #000;
  }
  .h1 {
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    text-align: center;
  }
  .btns{
    margin-left: 15%;
    margin-top: -20%;
  }
  
  .btn-quote{
      background: #0367a6;
      border-radius: 10px;
      font-weight: 700;
      font-size: 15px;
      padding: 16px 30px !important;
      text-align: center;
      color: #FFFFFF !important;
  }
  .btn-quote:hover{
    background: #0367a6;
    border-radius: 10px;
    color: #000 !important;
  }
  
  .btn-contact{
      background: transparent;
      border: 1px solid #0367a6;
      border-radius: 10px;
      font-weight: 700;
      font-size: 15px;
      padding: 16px 30px !important;
      text-align: center;
      color: #0367a6 !important;
  }
  
  .btn-contact:hover{
    background: #fff;
    border: 1px solid #fff;
    color: #000 !important;
  }
}

/* counter */

.js-counters {
  display: flex;
  width: 75%;
  margin: 0 20%;
}

.one{
  width: 25%; 
  background-color: #0367a6;
  padding: 20px 0;
  justify-content: center;
}
.users{
  background-color: #fff;
}

.js-counter {
  font-size: 40px;
}

.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
  margin-top: 10%;
}

.m-block span {
  padding: 10px;
  color: #f3efef;
  margin: 10px;
  font-size: 24px;
}

.m-block{
  margin-left: 20px;
}

.m-block i{
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.text{
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.users .text{
  color: #0367a6;
}

.users span{
    color: #000;
}

.users i{
  color: #000;
}

@media only screen and (max-width: 500px) {
  .js-counters {
    display: flex;
    width: 100%;
    margin: 0 0;
    margin-top: 10%;
  }
  .one{
    width: 33.33%; 
    background-color: #0367a6;
    padding: 10px 0;
    justify-content: center;
  }
  .users{
    background-color: #fff;
  }
  
  .js-counter {
    font-size: 20px;
  }

  .cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 99;
    margin-top: 6%;
  }
  
  .m-block span {
    padding: 10px;
    color: #f3efef;
    margin: 10px;
    font-size: 18px;
  }
  
  .m-block{
    justify-content: center;
    margin-left: 0;
  }
  
  .m-block i{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  
  .text{
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
  }
  .users .text{
    color: #0367a6;
  }
  
  .users span{
      color: #000;
  }
  
  .users i{
    color: #000;
  }
}

/* overview  */
.overview{
  margin: 10% 7%;
  display: flex;
  width: 100%;
}

.right{
  width: 50%;
  padding: 20px;
  justify-content: center;
}
.right img{
  width: 50%;
  height: 70vh;
  object-fit: cover;
  border-radius: 60px 60px;
  margin-left: 25%;
}

.left{
  width: 50%;
}

.top-1{
  color: #0367a6;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.top-h2{
  width: 80%;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  color: #091e3e;
}

.p-text{
  font-size: 16px;
  line-height: 24px;
}

.roww{
  margin: 30px 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px);
  grid-template-columns: repeat(2, 200px);
  grid-gap: 5px;
}
.col6{
  display: flex;
  gap: 10px;
}

.col6 i{
  font-size: 20px;
  line-height: 20px;
  color: #0367a6;
}

.col6 p{
  font-size: 20px;
  line-height: 24px;
  color: #091e3e;
}

.call{
  display: flex;
  width: 100%;
}

.lef{
  width: 10%;
  background-color: #0367a6;
}

.lef i{
  margin: 35%;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

.rig{
  width: 70%;
  margin-left: 5%;
}

.rig p{
  font-size: 20px;
  line-height: 24px;
}

.rig a{
  font-size: 24px;
  line-height: 28.8px;
  color: #0367a6;
}

.rig a:hover{
  text-decoration: none;
}

.btnss{
  margin: 20px 0;
}

.btnss a:hover{
  text-decoration: none;
}

.btn-demo{
  background: #ffc107;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  padding: 16px 50px !important;
  text-align: center;
  color: #000 !important;
}

.btn-broch{
  background: #0367a6;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  padding: 16px 50px !important;
  text-align: center;
  color: #fff !important;
}

@media only screen and (max-width: 500px) {
  .overview{
    margin: 10% 7%;
    display: block;
    width: 100%;
  }
  
  .right{
    width: 100%;
    padding: 20px 0;
    justify-content: center;
  }
  .right img{
    width: 70%;
    height: 40vh;
    object-fit: cover;
    border-radius: 60px 60px;
    margin-left: 30px;
  }
  
  .left{
    width: 100%;
  }
  
  .top-1{
    color: #0367a6;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .top-h2{
    margin: 10px 0;
    width: 80%;
    font-size: 20px;
    line-height: 28px;
    font-weight: 900;
    color: #091e3e;
  }
  
  .p-text{
    margin-right: 15%;
    font-size: 12px;
    line-height: 24px;
  }
  
  .roww{
    margin: 30px 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (200px);
    grid-template-columns: repeat(2, 200px);
    grid-gap: 5px;
  }
  .col6{
    display: flex;
    gap: 10px;
  }
  
  .col6 i{
    font-size: 18px;
    line-height: 20px;
    color: #0367a6;
  }
  
  .col6 p{
    font-size: 18px;
    line-height: 24px;
    color: #091e3e;
  }

  .call{
    display: flex;
    width: 100%;
    margin: 10% 0;
  }
  
  .lef{
    width: 20%;
    background-color: #0367a6;
  }
  
  .lef i{
    margin: 35%;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
  }
  
  .rig{
    width: 70%;
    margin-left: 5%;
  }
  
  .rig p{
    font-size: 20px;
    line-height: 24px;
  }
  
  .rig a{
    font-size: 24px;
    line-height: 28.8px;
    color: #0367a6;
  }
  
  .rig a:hover{
    text-decoration: none;
  }
  
  .btnss{
    margin: 20px 0;
  }
  
  .btnss a:hover{
    text-decoration: none;
  }
  
  .btn-demo{
    background: #ffc107;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
    padding: 16px 20px !important;
    text-align: center;
    color: #000 !important;
  }
  
  .btn-broch{
    background: #0367a6;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
    padding: 16px 20px !important;
    text-align: center;
    color: #fff !important;
  }
}

/* covers */

.covers{
  margin: 10% 7%;
}

.hd{
  margin-left: 10%;
  width: 80%;
  text-align: center;
}

.sects{
  margin: 5% 0;
  display: flex;
  width: 100%;
  gap: 10%;
}
.kushoto{
  width: 30%;
}

.i{
  width: 20%;
  padding: 20px;
  background-color: #0367a6;
}
.i i{
  color: #fff;
}
.kati{
  width: 30%;
}

.kati img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.kulia{
  width: 30%;
}

.sect1{
  margin:5% 0;
}

.sect1-h1{
  margin: 20px 0;
  color: #091e3e;
  font-size: 24px;
  line-height: 28.8px;
}

.sect-text{
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (max-width: 500px) {
  .hd{
    width: 100%;
  }
  .sects{
    margin: 5% 0;
    display: block;
    width: 100%;
    gap: 10%;
  }
  .kushoto, .kulia,.kati{
    width: 100%;
    margin: 20% 0;
  }
}

/* core features  */
.core-features{
  margin: 10% 7%;
}

.head1{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #0367a6;
  text-align: center;
  text-transform: uppercase;
}

.head2{
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
  text-align: center;
  color: #091e3e;
}

.hr{
  margin-left: 42%;
  width: 15%;
  height: 2px;
  background-color: #0367a6;
}

.cards{
  margin: 5% 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px);
  grid-template-columns: repeat(3, 350px);
  grid-gap: 30px;
}

.card-1{
  background-color: #eef9ff;
  padding: 10%;
  height: 85vh;
}

.icon{
  background-color: #0367a6;
  padding: 6%;
  width: 20%;
  margin-left: 35%;
  margin-top: 10%;
  margin-bottom: 10%;
  transform: rotate(45deg);
}

.icon i{
  color: #fff;
  font-size: 20px;
  transform: rotate(-45deg);
}

.card-h1{
  font-size: 24px;
  line-height: 28.8px;
  color: #091e3e;
  text-align: center;
}

.card-text{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.hover-next{
  background-color: #0367a6;
  padding: 6%;
  width: 20%;
  position: relative;
  top: 15%;
  left: 35%;
  display: none;
}

.hover-next i{
  color: #fff;
  font-size: 20px;
}

.card-1:hover .hover-next{
  display: block;
}

@media only screen and (max-width: 500px) {
  .core-features{
    margin: 10% 7%;
  }
  
  .head1{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #0367a6;
    text-align: center;
    text-transform: uppercase;
  }
  
  .head2{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: capitalize;
    text-align: center;
    color: #091e3e;
  }
  .cards{
    margin: 5% 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (350px);
    grid-template-columns: repeat(1, 350px);
    grid-gap: 30px;
  }
  .card-1{
    background-color: #eef9ff;
    padding: 10%;
    height: 85vh;
  }
}

/* integrations  */
.integrations{
  margin: 10% 7%;
}
.card-imgs{
  margin: 5% 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px);
  grid-template-columns: repeat(4, 250px);
  grid-gap: 50px;
}

.card-imgs img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.img-name{
  margin: 10% 0;
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  color: #091e3e;
}
@media only screen and (max-width: 500px) {
  .card-imgs{
    margin: 5% 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (330px);
    grid-template-columns: repeat(1, 330px);
    grid-gap: 10px;
  }
  .card-imgs img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  .img-name{
    margin: 10% 0;
    text-align: center;
    font-size: 18px;
    line-height: 28.8px;
    color: #091e3e;
  }
}

/* portals  */
.portals{
  margin: 10% 0;
  background-image: url("https://img.freepik.com/free-photo/silhouette-business-people-discussion-meeting-cityscape-team-concept_53876-146187.jpg?size=626&ext=jpg&ga=GA1.1.1780342939.1675861927&semt=ais");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.head-portal{
  background: rgba(0, 0, 0, 0.5);
  padding: 10% 7%;
}

.headd1{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #cccccc;
  text-align: center;
  text-transform: uppercase;
}

.headd2{
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.spacer{margin-top:100px;}
.alignleft {
    text-align:left;
}
.alignright {
    text-align:right;
}
#ext-1 {
    position:absolute;
    height:100%;
    z-index:5;
}
#ext-2 {
    position:absolute;
    height:100%;
    transform:scale(0.8) translateX(-20vw);
    z-index:4;}
#ext-2 .image-w{
    opacity:0.8
}
#ext-3 {
    position:absolute;
    height:100%;
    transform:scale(0.6) translateX(-30vw);
    z-index:3;}
#ext-3 .image-w{
    opacity:0.6
}
#ext-4 {
    position:absolute;
    height:100%;
    transform:scale(0.4) translateX(-20vw);
    z-index:2;}
#ext-4 .image-w{
    opacity:0.2
}
#ext-5
{
    position:absolute;
    height:100%;
    transform:scale(0.2);
    z-index:1;}
#ext-5 .image-w{
    opacity:0;
}
#ext-6 {
    position:absolute;
    height:100%;
    transform:scale(0.4) translateX(20vw);
    z-index:2;}
#ext-6 .image-w{
    opacity:0.2
}
#ext-7 {
    position:absolute;
    height:100%;
    transform:scale(0.6) translateX(30vw);
    z-index:3;}
#ext-7 .image-w{
    opacity:0.6
    
}
#ext-8
{
    position:absolute;
    height:100%;
    transform:scale(0.8) translateX(20vw);
    z-index:4;}
#ext-8 .image-w{
    opacity:0.8
}

.slider-cont {
    width:80%;
    position:relative;
    display:inline-block;
}

.image-slider {
    height:100%;
    position:absolute;
}

.cont-slider {
    display:inline-block;
    vertical-align:middle;
    transform-origin: top;
    transition:all 500ms cubic-bezier(0.71, 0.57, 0.01, 0.98);
}

.test-slider {
    position:relative;
    width:30%;
    height:0;
    padding-bottom:30%;
    margin-left:35%;
}

.image-w {
    height:100%;
    position:absolute;
}

.arrow {
    display:inline-block;
    width:4%;
    opacity:0.3;
    vertical-align: top;
}
.arrow:hover{cursor:pointer}

.arimage {
    width:100%;
}

.arrowleft {
    transform:rotate(90deg)
}

.arrowright {
    transform:rotate(-90deg)
}

.flat-w-image {
    -webkit-filter:contrast(0) brightness(10);
    filter:contrast(0) brightness(10);
}

@media only screen and (max-width: 500px) {
  .portals{
    margin: 10% 0;
  }
  .headd1{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #0367a6;
    text-align: center;
    text-transform: uppercase;
  }
  
  .headd2{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: capitalize;
    text-align: center;
    color: #091e3e;
  }
}

/* system security  */
.system-security{
  margin: 10% 7%;
  display: flex;
  width: 100%;
}
.leff{
  width: 30%;
}
.leff img{
  width: 100%;
  height: 90vh;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 23px 0px;
}
.righh{
  width: 80%;
  margin-left: 5%;
}

.head-one{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #0367a6;
  text-align: left;
  text-transform: uppercase;
}

.head-two{
  width: 80%;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
  text-align: left;
  color: #091e3e;
}

#hr{
  width: 15%;
  height: 2px;
  background-color: #0367a6;
}

.sec{
  display: flex;
  width: 100%;
  margin: 5% 0;
  gap: 5%;
}
.ones{
  width: 40%;
  height: 50vh;
  background-color: #eef9ff;
  padding: 5%;
}

.ones img{
  margin-left: 25%;
  width: 40%;
}

.one-h1{
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
  color: #091e3e;
  padding: 10px 0;
}

.one-p{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.ones:hover .hover-next{
  display: block;
}

@media only screen and (max-width: 500px) {
  .system-security{
    margin: 10% 7%;
    display: block;
    width: 100%;
  }
  .leff{
    margin: 10% 0;
    width: 85%;
  }
  .leff img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 23px 0px;
  }
  .righh{
    width: 100%;
    margin-left: 0;
  }

  .head-one{
    color: #0367a6;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .head-two{
    margin: 10px 0;
    width: 80%;
    font-size: 20px;
    line-height: 28px;
    font-weight: 900;
    color: #091e3e;
  }

  .ones{
    width: 40%;
    height: 35vh;
    background-color: #eef9ff;
    padding: 5%;
  }
  
  .ones img{
    width: 80%;
    object-fit: cover;
    margin-left: 15px;
  }
  
  .one-h1{
    font-size: 16px;
    line-height: 18.8px;
    text-align: center;
    color: #091e3e;
    padding: 5px 0;
  }
  
  .one-p{
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }
}

/* pricing  */
.pricing{
  margin: 10% 7%;
}

.grid-x{
  margin: 5% 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px);
  grid-template-columns: repeat(3, 350px);
  grid-gap: 20px;
}
.cell{
  z-index: -99;
}
.price-tables {
  margin-top: 50px;
}
li {
  list-style: none;
}
a {
  color: white;
}
.fa-info-circle {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
}
.pricing-header {
  height: 200px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 12px 12px 0px 0px;
  background-image: linear-gradient(#EFCA79, #E8B47B);
}
.pricing-header-plus {
  height: 200px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 12px 12px 0px 0px;
  background-image: linear-gradient(#4091E3, #92CDC7);
}
.pricing-header-premium {
  height: 200px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 12px 12px 0px 0px;
  background-image: linear-gradient(#615198, #9D4CA0);
}
.pricing-table {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  transform: scale(1);
  border: 0;
  background-color: white;
  transition: 0.4s ease;
  z-index: 13;
  border-radius: 20px;
}
.pricing-table:hover {
  transform: scale(1.1);
  z-index: 95;
}
@media screen and (max-width: 40em) {
  .pricing-table:hover {
    transform: scale(1);
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .pricing-table:hover {
    transform: scale(1);
  }
}
.pricing-content {
  padding-top: 1.5rem;
}
.pricing-content .fa-check {
  background-color: #E8B47B;
  border-radius: 25px;
  color: white;
  font-size: 11px;
  padding: 3px;
  margin-right: 1rem;
}
.pricing-content-plus {
  margin-top: 30px;
}
.pricing-content-plus .fa-check {
  background-color: #7FC4CB;
  border-radius: 25px;
  color: white;
  font-size: 11px;
  padding: 3px;
  margin-right: 1rem;
}
.pricing-content-premium {
  margin-top: 30px;
}
.pricing-content-premium .fa-check {
  background-color: #4979B9;
  border-radius: 25px;
  color: white;
  font-size: 11px;
  padding: 3px;
  margin-right: 1rem;
}
.pricingh-basic {
  color: #E8B47B;
}
.pricingh-plus {
  color: #4979B9;
}
.bullet-item {
  padding: 0.3rem;
  text-align: left;
  padding-left: 2rem;
  color: black;
  font-weight: 500;
}
.title {
  font-size: 40px;
}
.button {
  font-size: 0.8rem;
  padding: 1rem 3rem 1rem 3rem;
  font-weight: 700;
  border-radius: 23px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.button--free {
  border: 3.5px solid #E8B47B !important;
  border-color: #E8B47B;
  color: black !important;
  background-color: #fff;
}
.button--free:hover {
  box-shadow: 0 0 1em 0.5em #E8B47B;
}
.button--plus {
  background-color: #7FC4CB !important;
  border: 2px solid #7FC4CB;
  border-color: #7FC4CB;
}
.button--plus:hover {
  box-shadow: 0 0 1em 0.5em #7FC4CB;
  background-color: #5ec5cf !important;
}
.button--premium {
  background-color: #4979B9;
  border: 2px solid #4979B9;
  border-color: #4979B9;
}
.button--premium:hover {
  box-shadow: 0 0 1em 0.5em #4979B9;
  background-color: #4979B9;
  color: white;
}

.more{
  margin: 10% 35%;
}

.btn-more{
  background-color: #0367a6;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 10px 30px;
}

.btn-more:hover{
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .price{
    display: block;
  }
  .cell{
    margin: 10% 0;
    z-index: -99;
  }
  .more{
    margin: 10% 2%;
  }
  
}

/* testimonials  */
.testimonials{
  margin-top: 10%;
  background-image: url("https://img.freepik.com/premium-photo/aim-higher-shot-group-businesspeople-having-meeting-modern-office_590464-53922.jpg?w=826");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.testim .wrap {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}

.testim .arrow {
  display: block;
  position: absolute;
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;    
  -ms-transition: all .3s ease-in-out;    
  -moz-transition: all .3s ease-in-out;    
  -o-transition: all .3s ease-in-out;    
  transition: all .3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}

.testim .arrow:before {
  cursor: pointer;
}

.testim .arrow:hover {
  color: green;
}
  

.testim .arrow.left {
  left: 70px;
}

.testim .arrow.right {
  right: 70px;
}

.testim .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
}

.testim .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid green;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;    
  -ms-transition: all .5s ease-in-out;    
  -moz-transition: all .5s ease-in-out;    
  -o-transition: all .5s ease-in-out;    
  transition: all .5s ease-in-out;
  position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
  background: green;
  border-color: green;
}

.testim .dots .dot.active {
  -webkit-animation: testim-scale .5s ease-in-out forwards;   
  -moz-animation: testim-scale .5s ease-in-out forwards;   
  -ms-animation: testim-scale .5s ease-in-out forwards;   
  -o-animation: testim-scale .5s ease-in-out forwards;   
  animation: testim-scale .5s ease-in-out forwards;   
}
  
.testim .contt {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  /* padding: 20px 0; */
  /* z-index: 1; */
}

.testim .contt > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}

.testim .contt > div.inactive {
  opacity: 1;
}
  

.testim .contt > div.active {
  position: relative;
  opacity: 1;
}
  

.testim .contt div .img img {
  z-index: -99;
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}

.testim .contt div h2 {
  color: green;
  font-size: 24px;
  line-height: 28.8px;
  margin: 15px 0;
}

.testim .contt div p {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  width: 70%;
  margin: auto;
}

.testim .contt div.active .img img {
  z-index: -99;
  -webkit-animation: testim-show .5s ease-in-out forwards;            
  -moz-animation: testim-show .5s ease-in-out forwards;            
  -ms-animation: testim-show .5s ease-in-out forwards;            
  -o-animation: testim-show .5s ease-in-out forwards;            
  animation: testim-show .5s ease-in-out forwards;            
}

.testim .contt div.active h2 {
  -webkit-animation: testim-content-in .4s ease-in-out forwards;    
  -moz-animation: testim-content-in .4s ease-in-out forwards;    
  -ms-animation: testim-content-in .4s ease-in-out forwards;    
  -o-animation: testim-content-in .4s ease-in-out forwards;    
  animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .contt div.active p {
  -webkit-animation: testim-content-in .5s ease-in-out forwards;    
  -moz-animation: testim-content-in .5s ease-in-out forwards;    
  -ms-animation: testim-content-in .5s ease-in-out forwards;    
  -o-animation: testim-content-in .5s ease-in-out forwards;    
  animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .contt div.inactive .img img {
  z-index: -99;
  -webkit-animation: testim-hide .5s ease-in-out forwards;            
  -moz-animation: testim-hide .5s ease-in-out forwards;            
  -ms-animation: testim-hide .5s ease-in-out forwards;            
  -o-animation: testim-hide .5s ease-in-out forwards;            
  animation: testim-hide .5s ease-in-out forwards;            
}

.testim .contt div.inactive h2 {
  -webkit-animation: testim-content-out .4s ease-in-out forwards;        
  -moz-animation: testim-content-out .4s ease-in-out forwards;        
  -ms-animation: testim-content-out .4s ease-in-out forwards;        
  -o-animation: testim-content-out .4s ease-in-out forwards;        
  animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .contt div.inactive p {
  -webkit-animation: testim-content-out .5s ease-in-out forwards;    
  -moz-animation: testim-content-out .5s ease-in-out forwards;    
  -ms-animation: testim-content-out .5s ease-in-out forwards;    
  -o-animation: testim-content-out .5s ease-in-out forwards;    
  animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
  0% {
      -webkit-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -webkit-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-moz-keyframes testim-scale {
  0% {
      -moz-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -moz-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-ms-keyframes testim-scale {
  0% {
      -ms-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -ms-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-o-keyframes testim-scale {
  0% {
      -o-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -o-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -o-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -o-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@keyframes testim-scale {
  0% {
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-webkit-keyframes testim-content-in {
  from {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -webkit-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-moz-keyframes testim-content-in {
  from {
      opacity: 0;
      -moz-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -moz-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-ms-keyframes testim-content-in {
  from {
      opacity: 0;
      -ms-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -ms-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-o-keyframes testim-content-in {
  from {
      opacity: 0;
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -o-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@keyframes testim-content-in {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      transform: translateY(0);        
  }
}

@-webkit-keyframes testim-content-out {
  from {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -webkit-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-moz-keyframes testim-content-out {
  from {
      opacity: 1;
      -moz-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -moz-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-ms-keyframes testim-content-out {
  from {
      opacity: 1;
      -ms-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -ms-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-o-keyframes testim-content-out {
  from {
      opacity: 1;
      -o-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@keyframes testim-content-out {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      transform: translateY(-100%);        
  }
}

@-webkit-keyframes testim-show {
  from {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -webkit-transform: scale(1);       
      transform: scale(1);       
  }
}

@-moz-keyframes testim-show {
  from {
      opacity: 0;
      -moz-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -moz-transform: scale(1);       
      transform: scale(1);       
  }
}

@-ms-keyframes testim-show {
  from {
      opacity: 0;
      -ms-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -ms-transform: scale(1);       
      transform: scale(1);       
  }
}

@-o-keyframes testim-show {
  from {
      opacity: 0;
      -o-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -o-transform: scale(1);       
      transform: scale(1);       
  }
}

@keyframes testim-show {
  from {
      opacity: 0;
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      transform: scale(1);       
  }
}

@-webkit-keyframes testim-hide {
  from {
      opacity: 1;
      -webkit-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
}

@-moz-keyframes testim-hide {
  from {
      opacity: 1;
      -moz-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -moz-transform: scale(0);
      transform: scale(0);
  }
}

@-ms-keyframes testim-hide {
  from {
      opacity: 1;
      -ms-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -ms-transform: scale(0);
      transform: scale(0);
  }
}

@-o-keyframes testim-hide {
  from {
      opacity: 1;
      -o-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -o-transform: scale(0);
      transform: scale(0);
  }
}

@keyframes testim-hide {
  from {
      opacity: 1;
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      transform: scale(0);
  }
}

@media all and (max-width: 300px) {
body {
  font-size: 14px;
}
}

@media all and (max-width: 500px) {
.testim .arrow {
  font-size: 1.5em;
}

.testim .cont div p {
  line-height: 25px;
}
.amore{
  margin-left: 20%;
}
}



/* footer  */

ul {
 padding:0;
 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}
img {
 max-width:100%
}
p {
 font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300
}
h4 {
 font-family:Rubik,sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big {
 padding:15px;
}

.footer--light {
 background:#000000
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#fff
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:22px;
 font-weight: 700;
 color: #999;
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:12px 0
}
.mini-footer p {
 margin:0;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}
